@{
    ViewBag.Title = "ActionLinkExerciseParameter";
}

<h2>ActionLinkExerciseParameter</h2>
这是一个有参数返回的界面

HI,@ViewBag.UserName
my age @ViewData["Age"]

@Html.TextBox("ji")
前缀：@ViewData.TemplateInfo.HtmlFieldPrefix