@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        #div1 {
            width:100px;
            height:100px;
            background-color:red;
        }
        #div2 {
            width:100px;
            height:100px;
            background-color:yellow;
            float: left;
        }
        #div3 {
            width:100px;
            height:100px;
            background-color:blue;
        }
        #div4 {
            width:100px;
            height:100px;
            background-color:orange;
        }
    </style>
</head>
    <body style="width:800px;height:800px; background-color:white;">
        <div id="div1">
            div1
        </div>
        <div id="div2">
            div2
        </div>
        <div id="div3">
            div3
        </div>
        <div id="div4">
            div4
        </div>
    </body>
</html>
